<html>
    <head>
        <base href="/">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <base href="/">
        <!-- <link rel="stylesheet" type="text/css" href="../../stylesheets/style.css"> -->
        <title>MotoBlog</title>
        <style>
                                i.icon {
                        font-size: 2em;
                    }

                    .container{
                        margin-top: 3.0em;
                    }

                    #delete{
                        display: inline;
                    }
        </style>x
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="motorcycle icon"></i>MotoBlog</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
 
