<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <title>MotoBlog</title>
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="motorcycle icon"></i>MotoBlog</div>
                <a href="/" class="item">Home</a>
                <a href="/blog/new" class="item">New Post</a>
            </div>
        </div>
 
